<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Rand Cryptos</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/jquery.mCustomScrollbar.min.css') }}">

    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="static/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="head-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="email"> <a href="#">Email : info@randvest.xyz</a> </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="icon"> <i> <a href="#"><img src="static/icon/facebook.png"></a></i> <i> <a href="#"><img src="static/icon/Twitter.png"></a></i> <i> <a href="#"><img src="static/icon/linkedin.png"></a></i> <i> <a href="#"><img src="static/icon/google+.png"></a></i> </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="contact"> <a href="#">Contact :  +1 (332)2542936 </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"> <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='/images/logo.jpg') }}" alt="#"></a> </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li> <a href="{{ url_for('index') }}">Home</a> </li>
                                    <li> <a href="{{ url_for('about_us') }}">About</a> </li>
                                    <li> <a href="{{ url_for('Currency') }}">Invest</a> </li>
                                    <li> <a href="{{ url_for('team') }}">Team</a> </li>
                                    <li> <a href="{{ url_for('contact_us') }}">Contact us</a> </li>

                                    <li> <a href="#"><img src="static/images/search_icon.png" alt="#" /></a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <div class="about-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="abouttitle">
                        <h2>about Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--state abouts -->
    <div class="abouts">
        <div class="abouts-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="abouts-us">
                            <h3>About Us <strong class="cur">Rand Cryptos Investment</strong></h3>
                            <p>Rand Cryptos Investment is a dynamic investment firm that harnesses the power of artificial intelligence (AI) and machine learning to optimize cryptocurrency trading. Our mission is to provide cutting-edge investment solutions that yield exceptional results for our clients.</p>
                            <p>Backed by a team of seasoned traders and data scientists, we have developed sophisticated trading algorithms capable of real-time market analysis. This technological approach empowers us to make well-informed investment decisions swiftly and accurately, allowing us to remain at the forefront of market trends and deliver consistent returns to our investors.</p>
                            <p>We are trusted by over 245,000 partners in more than 100 countries, making us a reliable choice for those looking to invest, spend, save, earn, and use cryptocurrency. With $128 billion in assets on our platform and $92 billion in quarterly trading volume, we are a key player in the cryptoeconomy.</p>
                            <p>We prioritize the safety and security of your investments. We are dedicated to providing a secure and transparent platform for cryptocurrency investments.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="abouts-us">
                            <figure><img src="static/images/about.jpg" alt="img" /></figure>
                            <!-- Placeholder for Image 1 -->
                            <figure><img src="static/images/banner1.jpg" alt="img" /></figure>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="Contact">
                            <h3>Contact Us</h3>
                            <ul class="contant_icon">
                                <li> <a href="#"><img src="static/icon/location.png"></a></li>
                                <li> <a href="#"><img src="static/icon/tellephone.png"></a></li>
                                <li> <a href="#"><img src="static/icon/email.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                        <div class="Social">
                            <h3>Social links</h3>
                            <ul class="socil_link">
                                <li><a href="#"><img src="static/icon/fb.png"></a></li>
                                <li><a href="#"><img src="static/icon/Tw.png"></a></li>
                                <li> <a href="#"><img src="static/icon/lin.png"></a></li>
                                <li> <a href="#"><img src="static/icon/insta.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                        <div class="newsletter">
                            <h3>newsletter</h3>
                            <input class="new" placeholder="Enter your email" type="email">
                            <button class="subscribe">subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright 2019 All Right Reserved By <a href="#"> Rand Cryptos Investment</a></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.0.0.min.js"></script>
    <script src="static/js/plugin.js"></script>

    <!-- sidebar -->
    <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/custom.js"></script>
</body>
</html>